.strip-outer {
    position: relative;
}

.strip-outer::before,
.strip-outer::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    z-index: 100;
}

.strip-outer::before {
    left: 0;
    background: linear-gradient(to right, rgb(255, 255, 255),   rgba(255, 255, 255, 0));
}
.strip-outer::after {
    right: 0;
    background: linear-gradient(to left, rgb(255, 255, 255),   rgba(255, 255, 255, 0));
}