<a href="recipe/{{recipe()._id}}"
class="card min-w-80 max-w-full h-full bg-base-100 drop-shadow-xl overflow-hidden hover:scale-105 transition-transform cursor-pointer">
    @if(recipe().images.length > 0) {
        <figure class="h-60"><img class="min-h-full object-cover" src="{{recipe().images[0].includes('http') ? recipe().images[0] : (recipeServerUrl + 'api/image?id=' + recipe().images[0] + '&size=medium')}}" alt="{{recipe().name}}" /></figure>
    } @else {
        <figure class="h-60"><img class="min-h-full object-cover" src="assets/penguin-fish.jpg" alt="{{recipe().name}}" /></figure>
    }
    <div class="card-body bg-slate-50">
        <h2 class="card-title text-2xl">
        {{recipe().name}}
        </h2>
        <div class="flex-1"></div>
        <div class="card-actions justify-end">
            <div class="badge badge-outline">{{recipe().difficulty | titlecase}}</div>
            @if(recipe().preparationTime.summary) {
                <div class="badge badge-outline">{{recipe().preparationTime.summary | titlecase}}</div>
            }
            @for(label of recipe().labels; track label) {
                <div class="badge badge-outline">{{label | titlecase}}</div>
            }
        </div>
    </div>
</a>