<div class="navbar bg-primary text-primary-content">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" routerLink="/home">{{title}}</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li *ngFor="let item of navigationItems"><a [ngClass]="path == item.ref ? 'bg-primary-focus' : ''" routerLink="{{item.ref}}">{{item.title}}</a></li>
    </ul>
  </div>
  
  <div class="form-control flex-1 flex mr-2">
    <input type="text" placeholder="Search" class="input input-bordered text-base-content self-end" />
  </div>
</div>

<main class=" max-w-6xl m-auto mt-8 p-2 rounded-md">
  <router-outlet></router-outlet>
</main>