<div>
    <h1 class="text-accent text-3xl mb-10">Edit Recipe</h1>
    @if(url) {
        <div>
            <p class="text-xl">You have imported the recipe details from: <a class="link link-secondary" href="{{url}}">{{url}}</a></p>
            <p class="text-xl">You can edit the recipe before adding it to FoodPenguin.</p>
        </div>
    }
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm" class="p-5">
        <div class="flex flex-row">
            <div class="flex-1">
                <label class="label">
                <span class="label-text">Recipe name</span>
                </label>
                <input formControlName="name" type="text" placeholder="Recipe name..." class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="flex-1">
                <label class="label">
                    <span class="label-text">Servings</span>
                </label>
                <input formControlName="serving" type="number" class="input input-bordered w-full max-w-xs" />
            </div>
        </div>
        <div class="flex flex-row gap-5 justify-center my-5">
            <label for="difficulty" [ngClass]="(['text-success','text-warning','text-error'])[difficulty]" class="text-xl w-40">{{difficultyTexts[difficulty]}}</label>
            <input id="difficulty" formControlName="difficulty" type="range" formControlName="difficulty" min="0" max="2" [ngClass]="(['range-success','range-warning','range-error'])[difficulty]" class="range max-w-xl" />
        </div>
        <div formGroupName="dishType" class="flex flex-row flex-wrap items-center gap-3 mb-5">
            <h2 class="shrink-0 text-secondary">Dish Type:</h2>
            @for(dType of object.keys(dishTypes.controls); track dType) {
                <div>
                    <label class="cursor-pointer label">
                        <span class="label-text mr-3">{{dType | dishType}}</span>
                        <input formControlName="{{dType}}" type="checkbox" class="checkbox checkbox-secondary" />
                    </label>
                </div>
            }
        </div>
        <div formGroupName="when" class="flex flex-row flex-wrap items-center gap-3 mb-5">
            <h2 class="shrink-0 text-secondary">When:</h2>
            @for(when of object.keys(whens.controls); track when) {
                <div >
                    <label class="cursor-pointer label">
                        <span class="label-text mr-3">{{when | titlecase}}</span>
                        <input formControlName="{{when}}" type="checkbox" class="checkbox checkbox-secondary" />
                    </label>
                </div>
            }
        </div>
        <div formGroupName="allergens" class="flex flex-row flex-wrap items-center gap-3 mb-5">
            <h2 class="shrink-0 text-secondary">Allergens:</h2>
            @for(allergen of object.keys(allergens.controls); track allergen) {
                <div>
                    <label class="cursor-pointer label">
                        <span class="label-text mr-3">{{allergen | titlecase}}</span>
                        <input formControlName="{{allergen}}" type="checkbox" class="checkbox checkbox-secondary" />
                    </label>
                </div>
            }
        </div>
        <div formGroupName="labels" class="flex flex-row flex-wrap items-center gap-3 mb-5">
            <h2 class="shrink-0 text-secondary">Labels:</h2>
            @for(label of object.keys(labels.controls); track label) {
                <div>
                    <label class="cursor-pointer label">
                        <span class="label-text mr-3">{{label | titlecase}}</span>
                        <input formControlName="{{label}}" type="checkbox" class="checkbox checkbox-secondary" />
                    </label>
                </div>
            }
        </div>
        <h2 class="text-secondary">Preparation Time</h2>
        <div class="flex flex-row gap-3" formGroupName="preparationTime">
            <div class="flex-1">
                <label class="label">
                    <span class="label-text">Preparation</span>
                </label>
                <div class="flex flex-row items-end gap-1">
                    <input formControlName="preparation" type="number" class="input input-bordered w-full max-w-xs" />
                    <p>min</p>
                </div>
            </div>
            <div class="flex-1">
                <label class="label">
                    <span class="label-text">Owen</span>
                </label>
                <div class="flex flex-row items-end gap-1">
                    <input formControlName="owen" type="number" class="input input-bordered w-full max-w-xs" />
                    <p>min</p>
                </div>
            </div>
            <div class="flex-1">
                <label class="label">
                    <span class="label-text">Cooking</span>
                </label>
                <div class="flex flex-row items-end gap-1">
                    <input formControlName="cooking" type="number" class="input input-bordered w-full max-w-xs" />
                    <p>min</p>
                </div>
            </div>
            <div class="flex-1">
                <label class="label">
                    <span class="label-text">Total</span>
                </label>
                <div class="flex flex-row items-end gap-1">
                    <input formControlName="total" type="number" class="input input-bordered w-full max-w-xs" />
                    <p>min</p>
                </div>
            </div>
        </div>
        <div>
            <div class="my-5">
            <h2 class="text-secondary">Images</h2>
                @if(!loggedIn) {
                    <p class="text-warning">Cannot add images without logging in.</p>
                }
            </div>
            <input type="file" class="hidden" (change)="addImg($event)" #fileUpload>
            <div class="flex flex-row flex-wrap gap-5">
                @for(source of recipe?.images; track source; let i = $index) {
                    <img src="{{recipeServerUrl + 'api/image?id=' + source + '&size=small'}}" alt="img-{{i}}" class="w-52">
                    }
                <button [disabled]="!loggedIn" [class.hover:scale-110]="loggedIn" [class.opacity-50]="!loggedIn" class="w-52 flex items-center justify-center border-2 transition-transform"
                    (click)="fileUpload.click()" type="button">
                    <span class="material-symbols-outlined text-4xl text-secondary">
                        add_circle
                        </span>
                </button>
            </div>
        </div>
        <div formArrayName="ingredients">
            <h2 class="text-secondary mt-5">Ingredients</h2>
            @for(iSection of ingredients.controls; track iSection; let i = $index) {
                <div formGroupName="{{i}}">
                    <div class="flex flex-row items-center gap-3 mb-3 ml-5">
                        <label for="section-{{i}}">Section:</label>
                        <input id="section-{{i}}" type="text" formControlName="section" class="input input-bordered input-sm"/>
                        <button class="btn btn-ghost btn-circle text-error" (click)="removeSection(i)" type='button'>
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </div>
                    <div formArrayName="ingredients" class="flex flex-col items-center gap-2">
                        @for(ingredient of getIngredientsFromSection(iSection).controls; track ingredient; let j = $index) {
                            <div formArrayName="{{j}}" class="flex flex-row items-center justify-center gap-3">
                                <input formControlName="quantity" type="number" step="0.1" class="input input-bordered" />
                                <input formControlName="unit" type="text" class="input input-bordered" />
                                <input formControlName="name" type="text" class="input input-bordered" />
                                <button class="btn btn-ghost btn-circle text-error" (click)="removeIngredient(i, j)" type='button'>
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </div>
                        }
                        <button class="btn btn-outline btn-info mt-3" (click)="addIngredient(i)" type='button'>
                            Add Ingredient
                        </button>
                    </div>
                </div>
            }
            <button class="btn btn-outline btn-info mt-3" (click)="addSection()" type='button'>
                Add Section
            </button>
        </div>
        <div formArrayName="directions" class="mt-5">
            <h2 class="text-secondary">Directions</h2>
            <div class="flex flex-col items-center">
                @for(direction of directions.controls; track direction; let i = $index) {
                    <div class="w-full px-5">
                        <div class="flex-1">
                            <div class="flex justify-between">
                                <label for="direction-{{ i }}" class="label label-text">Step {{i+1}}:</label>
                                <button class="btn btn-ghost btn-circle text-error" (click)="removeDirection(i)" type='button'>
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </div>
                            <textarea id="direction-{{ i }}" formControlName="{{i}}" type="text" class="input input-bordered w-full h-20">
                            </textarea>
                        </div>
                    </div>
                }
                <button class="btn btn-outline btn-info btn-circle mt-5" (click)="addDirection()" type='button'>
                    <span class="material-symbols-outlined">add</span>
                </button>
            </div>
          </div>
        <button type="submit" [disabled]="!validateRecipe() || !loggedIn" class="btn btn-secondary mt-10">Add Recipe</button>
    </form>
</div>